{% extends 'blog/base.html' %}

{% block content %}
    <div>
        <h1>{{ post.title }}</h1>
        {% if post.published_date %}
            <div>
                {{ post.published_date }}
            </div>
        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}">게시</a>
        {% endif %}

        <p>{{ post.text|linebreaksbr }}</p>

        {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}">수정</a>
        <a href="{% url 'post_remove' pk=post.pk %}">삭제</a>
        {% endif %}
    </div>
<hr>
    <a href="{% url 'add_comment' pk=post.pk %}">댓글 달기</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated %}
        <div class="comment">
            <strong>{{ comment.author }}</strong>
            <div class="date">
                {{ comment.created_date }}
                <a href="{% url 'comment_remove' pk=comment.pk %}">삭제</a>
            </div>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    <hr>
        {% endif %}
    {% empty %}
        <p>댓글이 없습니다</p>
    {% endfor %}
{% endblock %}